# Python Language
##### This chapter is the basic part of Python language and also the basis for subsequent content.

## 1.Python Data

## 1.1
##### In Python, a set of characters enclosed in quotation marks is called a string. For Example, 'hello', "my python", "2+3", etc..., all are strings.The quotation marks used in Python strings can be single quote/Double quotes/Triple quotes.

In [1]:
print('hello world!')

hello world!

In [3]:
c = 'I am Sham'
print(c)

I am Sham

In [8]:
c1 = 'I am "Sham"'
print(c1)

I am "Sham"

In [10]:
c2 = "I am Sham"
print(c2)

I am Sham

In [11]:
c3 = """Hello!
I am
Sham"""
print(c3)

Hello!
I am
Sham

##### The escape character \ can escape many characters, such as \n for line break, \t for tab, and the character \ itself must also be escaped, so the character represented by \\ is \

In [15]:
print ('I\'m Sham')
print ("Hello World! \nI am Sham!")
print ('\\\t\\')

I'm Sham
Hello World!
I am Sham!
\	\

To output the quoted string as is, you can add r before the quotes.

In [16]:
print (r'\\\t\\')

\\\t\\

- Substrings and operations

There are two ways to extract a substring, using the [] index or the slice operator [:], these two methods are very widely used

In [18]:
s = 'Python'
print ( 'Py' in s)
print ( 'py' in s)

True
False

In [19]:
print (s[2])

t

In [20]:
print (s[1:4])

yth

- String concatenation and formatted output

In [21]:
word1 = '"hello"'
word2 = '"world"'
sentence = word1.strip('"') + ' ' + word2.strip('"') + '!'

print ('The first word is %s, and the second word is %s' %(word1, word2))
print(sentence)

The first word is "hello", and the seconf word is "world"
hello world!

### 1.2 Integers and floating point numbers

#### Integers

Python can handle integers of any size, including negative integers, and the representation method in the program is exactly the same as the mathematical method.

In [23]:
i = 3
print (i)

3

In [24]:
3 + 7

10

In [25]:
3 - 7

-4

In [26]:
3 * 7

21

In [27]:
3 ** 7

2187

In [207]:
7 / 3 
#After Python 3, there is no difference between integer division and floating point division

2.3333333333333335

In [31]:
7 % 3

1

In [32]:
7//3

2

#### Floating point numbers

In [34]:
7.0 / 3

2.3333333333333335

In [35]:
3.14 * 10 ** 2

314.0

Other representation methods

In [37]:
0b1111

15

In [38]:
0xff

255

In [39]:
1.2e-5

1.2e-05

More Operations

In [40]:
import math

print (math.log(math.e)) # For more operations, please refer to the documentation

1.0

### 1.3 Boolean values

In [42]:
True

True

In [43]:
False

False

In [44]:
True and False

False

In [45]:
True or False

True

In [46]:
not True

False

In [47]:
True + False

1

In [48]:
18 >= 6 * 3 or 'py' in 'Python'

True

In [50]:
18 >= 6 * 3 and 'py' in 'Python'

False

In [51]:
18 >= 6 * 3 and 'Py' in 'Python'

True

### 1.4 Date and Time

In [52]:
import time

now = time.strptime('2025-07-20', '%Y-%m-%d')
print (now)

time.struct_time(tm_year=2025, tm_mon=7, tm_mday=20, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=201, tm_isdst=-1)

In [53]:
time.strftime('%Y-%m-%d', now)

'2025-07-20'

In [54]:
import datetime

someDay = datetime.date(2001,11,3)
anotherDay = datetime.date(2001,11,9)
deltaDay = anotherDay - someDay
deltaDay.days

6

- View variable type

In [56]:
type(None)

NoneType

In [57]:
type(1.0)

float

In [58]:
type(True)

bool

In [59]:
s = 'NoneType'
type(s)

str

- Type conversion

In [62]:
str(10086)

'10086'

In [66]:
#flot()

In [65]:
float(10086)

10086.0

In [68]:
int('10086')

10086

In [69]:
complex(10086)

(10086+0j)

## 2 Python Data Structures

list, tuple, set, dictionary

### 2.1 List

A container used to store a series of elements. The list is represented by [], and the types of the elements can be different.

In [128]:
mylist = [0,1,2,3,4,5]
print (mylist)

[0, 1, 2, 3, 4, 5]

List indexing and slicing

In [129]:
# Index starts from 0, including the left but not the right
print ('[4]    =', mylist[4])
print ('[-4]   =', mylist[-4])
print ('[0:4]  =',mylist[0:4])
print ('[:4]   =',mylist[:4])#direct without 0
print ('[0:4:2]=',mylist[0:4:2]) # in b/w 0 - 4 print every next 2nd digit
print ('[-5:-1:]=',mylist[-5:-1:])
print ('[-2::-1]=',mylist[-2::-1])

[4]    = 4
[-4]   = 2
[0:4]  = [0, 1, 2, 3]
[:4]   = [0, 1, 2, 3]
[0:4:2]= [0, 2]
[-5:-1:]= [1, 2, 3, 4]
[-2::-1]= [4, 3, 2, 1, 0]

Modification List

In [130]:
mylist[3] = "Sham"
print (mylist[3])

mylist[5]= "Shami"
print (mylist[5])

mylist[5]=3111
print (mylist[5])

Sham
Shami
3111

In [131]:
print (mylist)

[0, 1, 2, 'Sham', 4, 3111]

Inserting Elements

In [132]:
mylist.append('add-to-end') # Add to the end
mylist.extend(['New','lists'])
print (mylist)

[0, 1, 2, 'Sham', 4, 3111, 'add-to-end', 'New', 'lists']

In [147]:
scores = [90, 80, 77, 66, 55]
mylist.insert(1, scores)# Add to the specified location in the mylist/previous list
mylist

[0, [90, 80, 77, 66, 55], 1, 2, 'Sham', 4, 3111, 'add-to-end', 'New', 'lists']

In [148]:
a = []

Deleting an element

In [149]:
'''This function returns the popped element. If no parameter is passed,
the last element will be deleted.'''
print(mylist.pop(1)) 
print (mylist)

[90, 80, 77, 66, 55]
[0, 1, 2, 'Sham', 4, 3111, 'add-to-end', 'New', 'lists']

Check if an element is in the list, etc.

In [150]:
print ('Sham' in mylist)
print ( 'New' not in mylist)

True
False

In [151]:
mylist.count('Sham')

1

In [152]:
mylist.index('New')

7

The range function generates a list of integers

In [153]:
print (range(10))
print (range(-5, 5))
print (range(-10, 10, 2))
print (range(16, 10, -1))

range(0, 10)
range(-5, 5)
range(-10, 10, 2)
range(16, 10, -1)

### 2.2 Tuple

Tuples are similar to lists. The elements in a tuple are also indexed. The values of the elements in a list can be modified, but the values of the elements in a tuple cannot be modified and can only be read. The symbol for a tuple is ().

In [155]:
studentsTuple = ("Sham","Asif","Kashif","Noor","Riyaz", scores)
studentsTuple

('Sham', 'Asif', 'Kashif', 'Noor', 'Riyaz', [90, 80, 77, 66, 55])

In [157]:
try:
    studentsTuple[1] = 'shami'
except TypeError:
    print ('TypeError')

TypeError

In [158]:
scores[1] = 100
studentsTuple

('Sham', 'Asif', 'Kashif', 'Noor', 'Riyaz', [90, 100, 77, 66, 55])

In [159]:
'Sham' in studentsTuple

True

In [160]:
studentsTuple[0:4]

('Sham', 'Asif', 'Kashif', 'Noor')

In [161]:
studentsTuple.count('Sham')

1

In [162]:
studentsTuple.index('Noor')

3

In [163]:
len(studentsTuple)

6

# 2.3 SET

There are two main functions of sets in Python. One is to perform set operations, and the other is to eliminate duplicate elements. The format of a set is: set(), where () can be a list, dictionary, or string, because strings are stored in the form of lists.

In [165]:
studentsSet = set(mylist)
print (studentsSet)

{0, 1, 2, 'add-to-end', 4, 3111, 'lists', 'Sham', 'New'}

In [166]:
studentsSet.add('Razak')
studentsSet

{0, 1, 2, 3111, 4, 'New', 'Razak', 'Sham', 'add-to-end', 'lists'}

In [167]:
studentsSet.remove('Razak')
studentsSet

{0, 1, 2, 3111, 4, 'New', 'Sham', 'add-to-end', 'lists'}

In [176]:
a = set("abcnmaaaaggsng")
print ('a=',a)

a= {'s', 'c', 'm', 'g', 'n', 'b', 'a'}

In [177]:
b = set("cdfm")
print ('b=',b)

b= {'d', 'f', 'c', 'm'}

In [178]:
#Intersection
x = a & b
print('x=',x)

x= {'m', 'c'}

In [180]:
#Union
y = a|b
print ('y=',y)

y= {'s', 'c', 'd', 'm', 'f', 'g', 'n', 'b', 'a'}

In [183]:
#Difference
z = a-b
print('z=',z)

z= {'s', 'g', 'b', 'n', 'a'}

In [184]:
#Remove Duplicate Elements
new = set(a)
print(z)

{'s', 'g', 'b', 'n', 'a'}

# 2.4 Dictionary

The dictionary dict in Python is also called an associative array, enclosed in curly braces {}, and is also called a map in other languages. It uses key-value storage and has extremely fast search speed, where the key cannot be repeated.

In [187]:
k = {"name":"Sham","home":"proddatur"}
print (k["home"])

proddatur

In [189]:
print (k.keys())
print (k.values())

dict_keys(['name', 'home'])
dict_values(['Sham', 'proddatur'])

Add and modify items in the dictionary

In [192]:
k["like"] = "Drawing"
k['name'] = "Shami"
print(k)

{'name': 'Shami', 'home': 'proddatur', 'like': 'Drawing'}

In [196]:
k.get('edu',-1) 
# Through the get method provided by dict, 
# if the key does not exist,
# it can return None or the value specified by itself

-1

Delete key-value element

In [198]:
k.pop('like')
print(k)

{'name': 'Shami', 'home': 'proddatur'}

### 2.5 Conversion between lists, tuples, sets, and dictionaries

In [199]:
type(mylist)

list

In [200]:
tuple(mylist)

(0, 1, 2, 'Sham', 4, 3111, 'add-to-end', 'New', 'lists')

In [201]:
list(k)

['name', 'home']

In [204]:
zl = zip(('A', 'B', 'C'), [1, 2, 3, 4]) # zip can 'stitch' lists, tuples, sets, and dictionaries together
print (zl)
print (dict(zl))

<zip object at 0x00000275B7134EC0>
{'A': 1, 'B': 2, 'C': 3}

## 3 Python Control Flow

In Python, programs are usually executed from top to bottom, but sometimes we use control flow statements to change the execution order of the program. There are three types of control flow in Python: sequential structure, branch structure, and loop structure.

In addition, Python can use semicolons ";" to separate statements, but generally uses newlines to separate them; statement blocks do not use curly braces "{}", but use indentation (four spaces can be used) to indicate

### 3.1 Sequence Structure

In [205]:
s = '7'
num = int(s) # This separation method is generally not used
num -= 1 # num = num -1
num *= 6 # num = num * 6
print (num)

36

### 3.2 Branch structure: The if statement in Python is used to determine which statement block to execute

if <True or Flase expression>:
Execute statement block
elif <True or Flase expression>:
Execute statement block
else: # None of them meet
Execute statement block
# There can be multiple elif clauses, and the elif and else parts can be omitted

In [206]:
salary = 1000

if salary > 10000:
    print ("Wow!!!")
elif salary > 5000:
    print ("That's OK.")
elif salary > 3000:
    print ("oh!!")
else:
    print ("Good")

Good